.message-wrapper {
    display: flex;

    & .message {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: var(--bg-color-block);
        border: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 15px 10px 15px 10px;
        box-sizing: border-box;
        position: relative;
        min-width: 250px;

        & .text-content {
            display: flex;
            gap: 5px;

            & .avatar {
                display: flex;
                align-items: center;

                & .image {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }

            & .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        & .date {
            position: absolute;
            bottom: 0px;
            right: 20px;
            font-size: 10px;
        }

        & .read-status {
            display: flex;
            align-items: center;
            position: absolute;
            right: 5px;
            bottom: 2px;
            font-size: 14px;
        }

        & .user-message {
            & .select-button {
                display: none;
            }

            &:hover {
                background-color: transparent;
                border-radius: 0;

                & .select-button {
                    display: none;
                }
            }
        }
    }

    &.user-message.selected-wrapper {
        background-color: var(--default-color-second);
        border-radius: 8px;
    }
}

.user-message {
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;

    & .select-button {
        position: absolute;
        left: 20px;
        top: calc(50% - 15px);
        font-size: 25px;
        opacity: 0.5;
        visibility: hidden;
    }

    & .selected {
        visibility: visible;
        opacity: 1;
    }

    &:hover {
        border-radius: 8px;

        & .select-button {
            visibility: visible;
        }
    }
}

.opponent-message {
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
}