@mixin input-styles {
    background-color: var(--default-color-second);
    color: var(--text-color);
    border: 1px solid var(--border-color);

    &::placeholder {
        color: var(--text-color);
    }

    &:hover,
    &:focus,
    &:focus-within {
        background-color: var(--default-color-second);
        color: var(--text-color);
        border: 1px solid var(--border-color);
    }
}

.ant-form-item .ant-form-item-label >label {
    color: var(--text-color) !important;
}

.ant-btn {
    background-color: var(--default-color);
    color: var(--text-color);
}

.ant-input, .ant-input-affix-wrapper {
    @include input-styles;
}

.ant-input-affix-wrapper .anticon.ant-input-password-icon {
    color: var(--text-color);

    &:hover {
        color: var(--text-color);
    }
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    @include input-styles;
}

.ant-modal .ant-modal-container {
    background-color: var(--bg-color-block);
    color: var(--text-color);

    & .ant-modal-title, .ant-modal-close-x {
        color: var(--text-color);
    }
}

.ant-upload-list-item-container {
    color: var(--text-color);
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-icon .anticon {
    color: var(--text-color);
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-actions .anticon {
    color: var(--text-color);
}

.ant-btn.ant-btn-color-default.ant-btn-variant-outlined {
    border: none;

    &:hover {
        background-color: var(--default-color);
        color: var(--text-color);
    }
}

.ant-dropdown .ant-dropdown-menu {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    color: var(--text-color);

    &:hover {
        background-color: var(--bg-color-block);
    }
}