.file-uploader {
    display: flex;
    align-items: center;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-block);
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.file-uploader-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}