.profile-header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .profile-avatar {
        display: flex;
        justify-content: center;

        &-image {
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
    }

    & .profile-name {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    & .profile-status {
        width: 40vw;
        text-align: center;
    }
}

@media screen and (max-width: 1065px) {
    .profile-header {
        & .profile-status {
            width: 70vw;
        }
    }
}

@media screen and (max-width: 500px) {
    .profile-header {
        & .profile-status {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 380px) {
    .profile-header {
        & .profile-status {
            width: 100%;
        }
    }
}