.messages-list {
    position: relative;
    width: 100%;
    color: var(--text-color);
    font-size: 13px;
    height: calc(100vh - 166px);
    padding-top: 30px;
    box-sizing: border-box;
}

.messages-list-virtualized {
    box-sizing: border-box;
    scrollbar-color: var(--text-color) var(--bg-color);
    scrollbar-width: thin;
}