.dialog-wrapper {
    display: flex;
    flex-direction: column;
}

.dialog-wrapper-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;

    & .message {
        padding: 30px 50px 30px 50px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
    }
}