.title {
    display: flex;
    background-color: var(--bg-color);
    border-radius: 20px;

    & .publications-title {
        padding: 5px 10px 5px 10px;
        cursor: pointer;
    }

    & .active {
        border-radius: 20px;
        background-color: var(--default-color);
    }
}