.list {
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-color: var(--text-color) transparent;
    scrollbar-width: thin;
    
    .items {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

/* Для Chrome, Edge, Safari */
.list::-webkit-scrollbar {
    width: 8px;
}

.list::-webkit-scrollbar-track {
    background: transparent;
}

.list::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 4px;
}