.list {
    box-sizing: border-box;
    scrollbar-color: var(--text-color) var(--bg-color);
    scrollbar-width: thin;
    
    .items {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}