.left-menu-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--text-color);
    z-index: 5;

    & .menu {
        position: relative;
        box-sizing: border-box;
        padding: 50px 20px 0px 20px;
        width: 30vw;
        background-color: var(--default-color-second);
        border-right: 1px solid var(--border-color);
        font-size: 17px;
        z-index: 6;

        & .menu-footer {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 20px;
            position: absolute;
            width: calc(100%);
            left: 0px;
            bottom: 0px;
            height: 75px;
            z-index: 7;
            box-sizing: border-box;
            border-top: 1px solid var(--border-color);

            & .avatar-wrapper {
                position: relative;
                display: flex;
                align-items: center;
                
                & .image { 
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            & .user-info {
                display: flex;
                font-size: 12px;
            }

            & .exit-icon-wrapper {
                position: absolute;
                display: flex;
                align-items: center;
                right: 20px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 799px) {
    .left-menu-wrapper {
        background-color: var(--bg-color);
        
        & .menu {
            width: 100vw;
        }
    }
}