.dark-theme {
    --bg-color: #1C1E22;
    --text-color: #d6dce5;
    --default-color: rgba(4, 161, 224, 0.781);
    --bg-color-block: rgb(60, 56, 56);
    --hover-color: rgba(187, 235, 255, 0.203);
    --border-color: rgba(128, 128, 128, 0.247);
    --common-red: #f54275;
    --left-menu-color: rgba(44, 32, 32, 0.5);
}