.white-theme {
    --bg-color: rgb(255, 255, 255);
    --text-color: black;
    --default-color: rgba(4, 161, 224, 0.781);
    --bg-color-block: rgb(248, 248, 248);
    --hover-color: rgba(187, 235, 255, 0.901);
    --border-color: rgba(128, 128, 128, 0.247);
    --common-red: #f54275;
    --left-menu-color: rgba(255, 255, 255, 0.7);
}