.dialogs-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
    padding-top: 40.8px;
}

@media screen and (max-width: 925px) {
    .dialogs-wrapper {
        grid-template-columns: 40% 60%;
    }
}