.ant-btn {
    background-color: var(--default-color);
    color: var(--text-color);
    border-radius: 20px;
    border: none !important;
}

.ant-btn.ant-btn-color-default.ant-btn-variant-outlined {
    border: none;

    &:hover {
        background-color: var(--default-color);
        color: var(--text-color);
    }
}