@mixin input-styles {
    background-color: var(--default-color-second);
    background: var(--default-color-second);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;

    &::placeholder {
        color: var(--text-color);
    }

    &:hover,
    &:focus,
    &:focus-within {
        background: var(--default-color-second);
        background-color: var(--default-color-second);
        color: var(--text-color);
        border: 1px solid var(--border-color);
    }
}

.ant-input, .ant-input-affix-wrapper {
    @include input-styles;
}

.ant-input-affix-wrapper .anticon.ant-input-password-icon {
    color: var(--text-color);

    &:hover {
        color: var(--text-color);
    }
}

.ant-input-outlined {
    @include input-styles;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    @include input-styles;
}