.ant-upload-list-item-container {
    color: var(--text-color);
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-icon .anticon {
    color: var(--text-color);
}

.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-actions .anticon {
    color: var(--text-color);
}