.custom-message-position {
    position: fixed;
    top: 20px;
    right: 20px;
    left: auto;
    transform: none;
}

body #root form {
    input:-internal-autofill-selected {
        background-color: var(--default-color-second) !important;
    }
}