@mixin dialogs-list-base {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-right: 1px solid var(--border-color);
    background-color: var(--default-color-second);
    padding-top: 15px;
    height: calc(100vh - 40.8px);
}

@mixin add-dialog-icon-styles {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    color: white;
    left: calc(100% - 40px);
    bottom: 20px;

    &:hover {
        cursor: pointer;
        color: var(--default-color);
    }
}

.dialog-list-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 8px;
    }
}

.dialogs-list-search {
    position: relative;
    
    & .ant-input-affix-wrapper {
        border-radius: 80px;

        & .ant-input {
            height: 30px;
            border-radius: 80px;
        }
    }
}

.dialogs-list-wrapper {
    @include dialogs-list-base;
    position: relative;

    & .add-dialog-icon {
        @include add-dialog-icon-styles;
    }
}

.dialogs-list-wrapper-mobile {
    @include dialogs-list-base;
    width: 100vw;
    height: 100vh;
    position: relative;
    
    & .add-dialog-icon {
        @include add-dialog-icon-styles;
    }
}