@mixin dialogs-list-base {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-right: 1px solid var(--border-color);
    background-color: var(--default-color-second);
    overflow-y: auto;
    padding-top: 15px;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 8px;
    }
}

@mixin add-dialog-icon-styles {
    position: absolute;
    color: white;

    &:hover {
        cursor: pointer;
        color: var(--default-color);
    }
}

.dialogs-list-search {
    position: relative;
    
    & .ant-input-affix-wrapper {
        border-radius: 80px;

        & .ant-input {
            height: 30px;
            border-radius: 80px;
        }
    }
}

.dialogs-list-wrapper {
    @include dialogs-list-base;
    position: relative;

    & .add-dialog-icon {
        @include add-dialog-icon-styles;
        bottom: 50px;
        right: 20px;
    }
}

.dialogs-list-wrapper-mobile {
    @include dialogs-list-base;
    width: 100vw;
    height: 100vh;
    position: relative;
    
    & .add-dialog-icon {
        @include add-dialog-icon-styles;
        bottom: 90px;
        right: 20px;
    }
}